!
hostname {{ hostname }}
!
spanning-tree mode mstp
!
aaa authorization exec default local
!
no aaa root
!
{%  for ip in config_context["ntp"] %}
ntp server {{ ip["name"] }} {% if ip.get("prefer")%} prefer{% endif +%}
{%  endfor %}
!
{% for interface in interfaces %}
interface {{ interface["name"] }}
{% if interface.get(interface["ip_addresses"]["address"]) %}
ip address {{ interface["ip_addresses"]["address"] }}
{% endif %}
{% endfor %}
!
interface Loopback0
   ip address {{ primary_ip4["address"] }}
!
ip route 0.0.0.0/0 10.0.128.255
!
no ip routing
!
management api http-commands
   no shutdown
!
!
end
