!
hostname {{ hostname }}
!
spanning-tree mode mstp
!
aaa authorization exec default local
!
no aaa root
!
{%  for ip in config_context["ntp"] %}
ntp server {{ ip["name"] }} {% if ip["prefer"] == true%} prefer{% endif %}
{%  endfor %}
!
interface Ethernet1
!
interface Ethernet2
!
interface Ethernet3
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
interface Ethernet7
!
interface Ethernet8
!
interface Management1
   ip address 10.0.128.2/24
!
ip route 0.0.0.0/0 10.0.128.255
!
no ip routing
!
management api http-commands
   no shutdown
!
!
end
